$navbarWidth: 100vw;
$navbarHeight: 130px;
$footerHeight: 250px;
$bodyHeight: calc(100vh - 130px - 250px);
$footerWidth: 100vw;
$containerWidth: 86vw;
$border: #D7D7D7;
$titleFont: 18px;
$buttonColor: #25C325;
$bodyTheme: #F0F6F6;
$sectionColor: #E2E2E2;

